@model IEnumerable<RepositoryViewModel>

@{
    ViewBag.Title = "Repositories";
}

<div class="container mt-3">
    <h2>Repositories</h2>
    <ul class="list-group">
        @foreach (var repository in Model)
        {
            <li class="list-group-item">
                <h4 class="mb-1"><a asp-controller="Repositories" asp-action="GetRepository" asp-route-repositoryId="@repository.Id">@repository.Owner/@repository.Title</a></h4>
                <p class="mb-1 text-secondary">@repository.About</p>
                <p class="mb-1">
                    @if (repository.IsPublic)
                    {
                        <span class="badge rounded-pill bg-primary text-bg-primary">public</span>
                    }
                    else
                    {
                        <span class="badge rounded-pill text-bg-danger">private</span>
                    }
                </p>
            </li>
        }
    </ul>
</div>